.detailsPage img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.detailsPage .category{
  text-decoration: underline;
  cursor: pointer;
  color: rgb(10, 10, 104);
}
.detailsPage .stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  margin-bottom: 5px;
  border-radius: 6px;
}
.detailsPage .stock button {
  width: 100px;
  border: 1px solid #000;
}
