.home .header{
    background-image: url("../../assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height:70vh ;
    width: 100%;
    margin-bottom: 20px;
}